/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
    div.with-background {
        .top-nav {
            flex-direction: column;

            .logo {
                margin: auto;
            }

            ul {
                margin: 20px auto 0;
                width: 80%;
            }
        }
        .hero {
            grid-template-columns: 1fr;
            text-align: center;

            .hero-image {
                padding-left: 0;
                margin-top: 40px;
            }
        }
    }

    .featured-section {
        padding: 50px 0;

        .products {
            grid-template-columns: 1fr;
        }
    }

    .blog-section {
        .blog-posts {
            grid-template-columns: 1fr;
            text-align: center;
            grid-template-areas:
                "blog3"
                "blog2"
                "blog1";

            .blog-post {
                margin-top: 30px;
            }
        }
    }

    // .footer-content {
    //     flex-direction: column;

    //     .made-with {
    //         margin: auto;
    //     }

    //     ul {
    //         margin: 20px auto;
    //         width: 60%;
    //     }
    // }

    .breadcrumbs {
        text-align: center;
    }

    .products-section {
        grid-template-columns: 1fr;

        .sidebar {
            text-align: center;
        }

        .products {
            grid-template-columns: 1fr;
        }
    }

    .product-section {
        grid-template-columns: 1fr;
    }

    .might-like-section .might-like-grid {
        grid-template-columns: 1fr;
    }

    .cart-section {
        grid-template-columns: 1fr;

        .cart-buttons {
            flex-direction: column;
            text-align: center;
        }

        .cart-table-row {
            .cart-table-row-left {
                width: 30%;
            }

            .cart-table-row-right {
                width: 55%;
            }

            img {
                display: none;
            }
        }

        .have-code-container {
            width: 100%;
        }

        .cart-totals {
            flex-direction: column;

            .cart-totals-left {
                width: 100%;
                margin-bottom: 20px;
            }

            .cart-totals-right {
                width: 100%;
            }
        }
    }

    .checkout-section {
        grid-template-columns: 1fr;

        .checkout-table-container {
            margin-left: 10px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 780px) {
    div.top-header-container {
        // display: none;
        position: absolute;
        margin-left: 6.5rem;
        .logo {
            position: relative;
            top: -7.2rem;
            left: auto;
        }
        .other-container {
            ul {
                display: none;
            }

            .search {
                position: relative;
                top: -7.2rem;
                left: auto;
                margin-left: unset;
                .searchTerm {
                    display: none;
                }

                .searchTerm.open {
                    display: flex;
                    flex-shrink: initial;
                    margin-left: 1rem;
                    border: none;
                    outline: auto;
                    border-radius: 0.3rem;
                }

                .searchButton {
                    background: none;
                    border: none;
                    color: rgba(25, 25, 25, 1);
                    // width: 4rem;
                    margin-left: 2rem;
                }

                .searchButton.close {
                    display: none;
                }
            }
        }
    }

    .hamburger {
        cursor: pointer;
        margin: 35px;
    }

    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: black;
    }

    nav {
        position: relative;
    }

    nav.top-nav ul {
        position: fixed;
        background: rgba(209, 145, 48, 1);
        height: 80%;
        width: 100%;
        margin-top: -5px;
        flex-direction: column;
        align-items: center;
        clip-path: circle(10px at 20% -10%);
        -webkit-clip-path: circle(10px at 20% -10%);
        transition: all 1s ease-out;

        li {
            opacity: 0;
        }

        li:nth-child(1) {
            transition: all 1.2s ease-in 0.2s;
        }
        li:nth-child(2) {
            transition: all 1.2s ease-in 0.4s;
        }
        li:nth-child(3) {
            transition: all 1.2s ease-in 0.6s;
        }
        li:nth-child(4) {
            transition: all 1.2s ease-in 0.8s;
        }
        li:nth-child(5) {
            transition: all 1.2s ease-in 1s;
        }
        li:nth-child(6) {
            transition: all 1.2s ease-in 1.2s;
        }

        li.fade {
            opacity: 1;
        }
    }

    .top-nav ul.open {
        clip-path: circle(680px at 90% -10%);
        -webkit-clip-path: circle(680px at 20% -10%);
    }

    div.with-background {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    .hero-container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        // flex-direction: column;
        // align-items: center;
        // flex-wrap: wrap;
        .hero-copy {
            grid-template-columns: 1fr;

            .hero-newsletter {
                display: none;
            }
        }

        .hero-image {
            display: none;
        }
    }

    footer {
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-contact-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1 {
                    font-family: "Morganite";
                    font-size: 40px;
                    color: rgba(209, 145, 48, 1);
                    background: none;
                    border: none;
                }
                h2 {
                    font-size: 1.8rem;
                    margin: 0.5rem 0;
                }

                li {
                    font-size: 1.2rem;
                }
            }

            .h2-span-wrapper {
                display: grid;

                grid-template-columns: repeat(2, 1fr);
                justify-content: center;

                span {
                    margin-left: 1.5rem;
                    cursor: pointer;

                    width: 10px;
                    font-size: 22px;

                    &:hover {
                        transform: rotate(-90deg);
                    }
                }
            }

            // li {
            //     display: none;
            // }

            .brand-wrapper {
                li {
                    display: none;
                }
            }

            .footer-categories-wrapper {
                li {
                    display: none;
                }

                li.open {
                    display: block;
                }
            }

            .footer-main {
                li {
                    display: none;
                }
            }

            .footer-help {
                li {
                    display: none;
                }
            }
        }

        .footer-social {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;

                    a {
                        margin: 2px 10px;
                    }
                    // margin-left: 1rem;
                }
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
        align-content: center;
        margin-top: 65px;
        padding: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
