html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

a:hover {
  color: #878787;
}

.logo a {
  color: white;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: auto;
  max-width: 1200px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
.product-section-subtitle,
.product-section-price {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 1.2;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: "";
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

h2 {
  font-size: 22px;
}

.text-center {
  text-align: center;
}

.spacer {
  margin-bottom: 30px;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.breadcrumbs {
  background: #f5f5f5;
  border-bottom: 1px solid #cdcdcd;
  padding: 24px 0;
}

.breadcrumbs .breadcrumb-separator {
  font-size: 14px;
  color: #545454;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: white;
  background: #212121;
}

.button-white {
  border: 1px solid white;
  color: white !important;
}

.button-white:hover {
  color: #212121 !important;
  background: white;
}

.button-primary {
  background: #3ebfa4;
  color: white !important;
  padding: 12px 40px;
}

.button-primary:hover {
  background: #35a48d;
}

.button-plain {
  border: 1px solid #212121 !important;
  background: transparent;
}

.button-container {
  margin: 80px 0;
}

.section-description {
  width: 80%;
  margin: 44px auto;
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 16px;
}

.sidebar ul {
  line-height: 2;
  margin-bottom: 20px;
}

.might-like-section {
  padding: 50px 0;
}

.might-like-section .container {
  padding: 20px;
}

.might-like-section .container h2 {
  font-size: 30px;
}

.might-like-section .container .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 30px;
  align-content: center;
  margin-top: 65px;
  padding: 20px;
}

@media only screen and (max-width: 780px) {
  .might-like-section .container .products {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.might-like-section .container .products .product {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.4s ease-in-out;
}

@media only screen and (max-width: 780px) {
  .might-like-section .container .products .product {
    flex: 0 0 auto;
    margin: 0 10px;
  }
}

.might-like-section .container .products .product:hover {
  box-shadow: 5px 5px 5px 5px rgba(209, 145, 48, 0.4);
  border-radius: 6px;
}

.might-like-section .container .products .product .rating-comment {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.might-like-section .container .products .product .rating-comment .fa-rating {
  font-size: 10px;
}

.might-like-section .container .products .product .rating-comment .comment-count {
  margin-left: 4px;
  font-size: 13px;
}

.might-like-section .container .products .product .rating-comment .new {
  font-family: "Roboto-Medium";
  font-size: 12px;
  color: #ffffff;
  background-color: #d19130;
  border: 2px solid #d19130;
  border-radius: 12px;
  margin-left: 2px;
  padding: 2px;
}

.might-like-section .container .products .product .product-name {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #191919;
}

.might-like-section .container .products .product img {
  height: 12.5rem;
  max-width: 14.5rem;
}

.might-like-section .container .products .product .product-details {
  width: 232px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #3b3b3b;
  text-align: center;
  line-height: 21px;
}

.might-like-section .container .products .product .price-shop {
  display: flex;
  width: 200px;
  margin-left: 2rem;
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid #d19130;
  border-radius: 6px;
  align-items: center;
  align-self: center;
}

.might-like-section .container .products .product .price-shop:hover {
  background-color: #d19130;
}

.might-like-section .container .products .product .price-shop .shop-now {
  font-family: "Roboto-Medium";
  font-size: 16px !important;
  border-left: 2px solid #d19130;
  padding: 4px 6px !important;
  margin-left: 6px !important;
}

.might-like-section .container .products .product .price-shop .shop-now:hover {
  color: white !important;
}

.might-like-section .container .products .product .price-shop .product-price {
  color: #919191 !important;
  font-family: "Roboto-Regular";
  font-size: 16px !important;
  padding: 4px 6px !important;
}

.might-like-section .container .products .product .price-shop .product-price:hover {
  color: white;
}

.might-like-section .container .products .product .price-shop #time-3-icon {
  fill: #d19130;
}

.might-like-section .container .products .product .price-shop #time-3-icon:hover {
  fill: white;
}

.might-like-section .container .products .product .seller {
  font-weight: 300;
}

.might-like-section .container .products .product .seller em {
  font-style: italic;
  font-weight: 600;
}

.might-like-section .container .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  margin-top: 100px;
  height: 144px;
  width: 1100px;
  background-color: #f5f5f5;
  border: 1px solid #707070;
  border-radius: 0px;
}

.might-like-section .container .categories a {
  display: flex;
  align-items: flex-end;
}

.might-like-section .container .categories a #bag {
  fill: #d19130;
}

form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

form button[type=submit] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #dddddd;
  color: inherit;
  cursor: default;
  z-index: 2;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 16px 22px;
  position: relative;
  text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #dff5fd;
  background-color: #26718f;
  border-color: #ddd;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

header {
  background: white;
}

header .top-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

header .top-header-container .logo {
  margin-right: 2.5rem;
  font-family: "Roboto";
  font-size: 50px;
  color: #86939e;
  line-height: 0px;
}

@media only screen and (max-width: 992px) {
  header .top-header-container .logo {
    font-size: 35px;
  }
}

header .top-header-container .other-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*Resize the wrap to see the search bar change!*/
}

@media screen and (max-width: 992px) {
  header .top-header-container .other-container {
    justify-content: end;
  }
}

header .top-header-container .other-container .search {
  height: 39px;
  width: 575px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  header .top-header-container .other-container .search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}

header .top-header-container .other-container .searchTerm {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #191919;
  border-radius: 6px 0 0 6px;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
}

header .top-header-container .other-container .searchTerm:focus {
  color: #d19130;
}

header .top-header-container .other-container .searchButton {
  width: 2.5rem;
  height: 36px;
  border: 1px solid #191919;
  background: #191919;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

header .top-header-container .other-container ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

header .top-header-container .other-container ul .login {
  width: 90px !important;
  margin-left: 1rem;
  color: #6e6f72;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #d19130;
  border-radius: 6px;
}

header .top-header-container .other-container ul .login:hover {
  color: #e6e6e6;
  background-color: #d19130;
}

header .top-header-container .other-container ul #account {
  margin: 0 1rem !important;
}

header .top-header-container .other-container ul li.user {
  margin-left: 1rem;
}

header .top-header-container .other-container ul li.cart {
  margin-left: 1rem;
}

header .top-header-container .other-container ul li.cart a.logout-now {
  margin: 0 1rem;
}

header .top-header-container .other-container ul li.cart .cart-count {
  display: inline-block;
  background-color: #d19130;
  border-radius: 6px;
  color: #212121;
  line-height: 0;
  margin-bottom: 1rem;
  font-size: 14px;
}

header .top-header-container .other-container ul li.cart .cart-count span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

@media only screen and (min-width: 780px) {
  header .user-wrapper {
    display: none;
  }
}

header .top-nav {
  display: flex;
  justify-content: center;
  font-family: "Roboto-Medium";
  letter-spacing: 1.5px;
}

header .top-nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  height: 24px;
  font-family: "Roboto-medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #191919;
  line-height: 35px;
  margin-top: 34px;
  margin-bottom: 6px;
}

header .top-nav ul li {
  margin: 0 1rem;
}

header .top-nav ul a {
  color: #191919;
}

header .top-nav ul a:hover {
  color: #e6e6e6;
}

header .top-nav ul span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

footer {
  background: #191919;
  box-shadow: 0px 3px 6px 0px #000000;
  width: 100%;
  padding: 2.4rem 0 1rem 0;
}

footer .footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-items: center;
}

footer .footer-content h1 {
  font-family: "Roboto";
  font-size: 40px;
  color: #86939e;
  background-color: #c2d1d9;
  border: 1px solid #707070;
  border-radius: 0px;
}

footer .footer-content h2 {
  font-family: "Roboto-Medium";
  font-size: 18px;
  color: #ffffff;
  line-height: 35px;
}

@media only screen and (min-width: 781px) {
  footer .footer-content h2 span {
    display: none;
  }
}

footer .footer-content li {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
}

footer .footer-content a {
  cursor: pointer;
  color: #ffffff;
}

footer .footer-content a:hover {
  color: #919191;
}

footer .footer-newsletter {
  margin: 1.4rem 0 0.2rem 4.3rem;
}

footer .footer-newsletter p {
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #ffffff;
}

footer .footer-newsletter .search {
  height: 2.7rem;
  width: 16.4rem;
  margin-top: 1rem;
  display: flex;
}

@media screen and (max-width: 992px) {
  footer .footer-newsletter .search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}

footer .footer-newsletter .searchTerm {
  width: 100%;
  background-color: #424b5a;
  border: 2px solid #d19130;
  border-radius: 6px 0 0 6px;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
}

footer .footer-newsletter .searchTerm:focus {
  color: #ffffff;
}

footer .footer-newsletter .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #d19130;
  background: #d19130;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

footer .footer-credit {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 0.06rem solid #3c3c3c;
}

footer .footer-credit .reserved-rights {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  margin-left: 4rem;
}

footer .footer-credit .reserved-rights span {
  font-family: "Roboto";
}

footer .footer-credit .payment {
  font-family: "Roboto";
  font-size: 18px;
  color: #43484d;
  line-height: 35px;
  margin-left: 40px;
}

footer .footer-credit .payment span {
  color: #c2d1d9;
}

footer .footer-credit .footer-social ul li {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

footer .footer-credit .footer-social ul li a {
  color: #d19130;
  margin-left: 1.2rem;
}

.mobile-footer {
  margin-top: 1rem;
}

@media only screen and (min-width: 780px) {
  .mobile-footer {
    display: none;
  }
}

.mobile-footer ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.mobile-footer ul li {
  display: flex;
  flex-direction: column;
}

.mobile-footer ul li h4 {
  margin-top: 0.5rem;
  font-family: "Roboto";
  font-size: 10px;
  color: #bdc6cf;
}

.mobile-footer ul li li.active h4 {
  color: #191919;
}

.mobile-footer .cart-count {
  display: inline-block;
  position: absolute;
  background-color: #d19130;
  border-radius: 6px;
  color: #212121;
  line-height: 0;
  margin-bottom: 3rem;
  margin-left: -0.6rem;
  font-size: 14px;
}

.mobile-footer .cart-count span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0 0.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.with-background {
  height: 700px;
  width: 100%;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
  background-image: url("/img/Banner-Image-1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  text-align: center;
  color: white;
}

div.with-background .hero-container {
  margin: 0 2rem 0 8rem;
}

@media screen and (max-width: 900px) {
  div.with-background .hero-container {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

div.with-background .hero-container .hero-big-heading {
  font-family: "Roboto-Regular";
  font-size: 60px;
  color: white;
  line-height: 74px;
  text-align: start;
}

div.with-background .hero-container .hero-small-heading {
  font-family: "Roboto-light";
  font-size: 35px;
  font-weight: 300;
  color: white;
  line-height: 74px;
  text-align: start;
}

div.with-background .hero-copy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 84px;
}

div.with-background .hero-copy .hero-newsletter {
  max-width: 864px;
  text-align: center;
}

div.with-background .hero-copy .hero-newsletter .search {
  height: 2.7rem;
  width: 23.5rem;
  margin-top: 1rem;
  display: flex;
}

@media screen and (max-width: 992px) {
  div.with-background .hero-copy .hero-newsletter .search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}

div.with-background .hero-copy .hero-newsletter .searchTerm {
  width: 100%;
  background-color: #424b5a;
  border: 2px solid #d19130;
  border-radius: 6px 0 0 6px;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
}

div.with-background .hero-copy .hero-newsletter .searchTerm:focus {
  color: #ffffff;
}

div.with-background .hero-copy .hero-newsletter .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #d19130;
  background: #d19130;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

div.with-background .hero-copy .hero-image {
  height: 24.2rem;
  width: 25rem;
  margin-top: 8.3rem;
  margin-left: 6rem;
  background-image: url("/img/little-hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-radius: 76px 76px 0px 0px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  padding-left: 60px;
}

@media screen and (max-width: 900px) {
  div.with-background .hero-copy .hero-image {
    display: none;
  }
}

div.with-background .hero-copy .hero-image p {
  height: 14px;
  width: 84px;
  font-family: "Roboto-Medium";
  font-size: 12px;
  color: white;
  margin-left: 65%;
  justify-content: center;
  line-height: 35px;
}

div.with-background .hero-copy .hero-image p:hover {
  background-color: #d19130;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.16);
}

div.with-background .hero-copy h4 {
  font-size: 52px;
  margin-top: 50px;
  text-align: left;
}

div.with-background .hero-copy p {
  text-align: center;
  max-width: 23rem;
}

div.with-background .hero-copy .button {
  margin-right: 14px;
}

.featured-section {
  padding: 50px 0;
}

.featured-section #featured {
  font-family: "Roboto-Light";
  font-size: 3rem;
  font-weight: 100 !important;
  color: #191919;
}

.featured-section .container {
  padding: 20px;
}

.featured-section .container .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px 30px;
  align-content: center;
  margin-top: 65px;
  padding: 20px;
}

@media only screen and (max-width: 780px) {
  .featured-section .container .products {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.featured-section .container .products .product {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #000000;
  transition: box-shadow 0.4s ease-in-out;
}

@media only screen and (max-width: 780px) {
  .featured-section .container .products .product {
    flex: 0 0 auto;
    margin: 0 10px;
  }
}

.featured-section .container .products .product .rating-comment {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.featured-section .container .products .product .rating-comment .fa-rating {
  font-size: 0.6rem;
}

.featured-section .container .products .product .rating-comment .comment-count {
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.featured-section .container .products .product .rating-comment .new {
  font-family: "Roboto-Medium";
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #d19130;
  border: 2px solid #d19130;
  border-radius: 0.8rem;
  margin-left: 1rem;
  padding: 0.1rem;
  text-transform: capitalize;
  font-style: italic;
}

.featured-section .container .products .product .product-name {
  font-family: "Roboto-Regular";
  font-size: 1.1rem;
  color: #191919;
  margin-top: 0.3rem;
}

.featured-section .container .products .product img {
  height: 11.5rem;
  max-width: 11.5rem;
}

.featured-section .container .products .product .product-details {
  width: 14.5rem;
  font-family: "Roboto-Regular";
  font-size: 0.9rem;
  margin-right: 0.5rem;
  color: #3b3b3b;
  text-align: center;
  line-height: 1.3rem;
}

.featured-section .container .products .product .price-shop {
  display: flex;
  width: 12.5rem;
  margin: 0.3rem 0 0.3rem 1.5rem;
  margin-top: 0.3rem;
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid #d19130;
  border-radius: 6px;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.featured-section .container .products .product .price-shop .shop-now {
  font-family: "Roboto-Medium";
  font-size: 1rem;
  color: #424b5a;
  border-left: 2px solid #d19130;
  padding: 4px 6px;
  margin-left: 6px;
}

.featured-section .container .products .product .price-shop .product-price {
  color: #919191;
  font-family: "Roboto-Regular";
  font-size: 1rem;
  color: #424b5a;
  padding: 4px 6px;
}

.featured-section .container .products .product .price-shop #time-3-icon {
  fill: #d19130;
}

.featured-section .container .products .product .seller {
  font-weight: 300;
}

.featured-section .container .products .product .seller em {
  font-style: italic;
  font-weight: 600;
}

.featured-section .container .products .product:hover {
  box-shadow: 5px 5px 5px 5px rgba(209, 145, 48, 0.4);
  border-radius: 6px;
}

.featured-section .container .best-of-2020-wrapper {
  display: none;
  margin-bottom: -20px;
  margin-top: 10px;
  font-family: "Roboto-Light";
  font-size: 25px;
  color: #191919;
}

@media only screen and (max-width: 780px) {
  .featured-section .container .best-of-2020-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -20px;
    font-size: 30px;
  }
}

.featured-section .container .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  margin-top: 6.3rem;
  height: 9rem;
  background-color: #f5f5f5;
  border: 1px none;
  border-radius: 0px;
}

@media only screen and (max-width: 780px) {
  .featured-section .container .categories {
    display: none;
  }
}

.featured-section .container .categories a {
  display: flex;
  align-items: flex-end;
}

.featured-section .container .categories a h4 {
  margin-left: 0.4rem;
}

.featured-section .container .categories a #bag {
  fill: #d19130;
  background-color: #f5f5f5;
}

.blog-section {
  background: #f5f5f5;
  border-top: 1px solid #cdcdcd;
  padding: 50px 0;
  grid-area: blog-section;
}

.blog-section .blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 60px 0 60px;
  grid-template-areas: "blog1 blog2 blog3";
}

.blog-section .blog-posts #blog1 {
  grid-area: blog1;
}

.blog-section .blog-posts #blog2 {
  grid-area: blog2;
}

.blog-section .blog-posts #blog3 {
  grid-area: blog3;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px;
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 30px;
  align-content: center;
  margin-top: 65px;
  padding: 20px;
}

.products-section .products .product {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #000000;
  transition: box-shadow 0.4s ease-in-out;
}

.products-section .products .product:hover {
  box-shadow: 5px 5px 5px 5px rgba(209, 145, 48, 0.4);
  border-radius: 6px;
}

.products-section .products .product .rating-comment {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.products-section .products .product .rating-comment .fa-rating {
  font-size: 0.6rem;
}

.products-section .products .product .rating-comment .comment-count {
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.products-section .products .product .rating-comment .new {
  font-family: "Roboto-Medium";
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #d19130;
  border: 2px solid #d19130;
  border-radius: 0.8rem;
  margin-left: 1rem;
  padding: 0.1rem;
  text-transform: capitalize;
  font-style: italic;
}

.products-section .products .product .product-name {
  font-family: "Roboto-Regular";
  font-size: 1.1rem;
  color: #191919;
  margin-top: 0.3rem;
}

.products-section .products .product img {
  height: 11.5rem;
  max-width: 11.5rem;
}

.products-section .products .product .product-details {
  width: 14.5rem;
  font-family: "Roboto-Regular";
  font-size: 0.9rem;
  margin-right: 1rem !important;
  color: #3b3b3b;
  text-align: center !important;
  line-height: 1.3rem;
}

.products-section .products .product .price-shop {
  display: flex;
  width: 12.5rem;
  margin: 0.3rem 0 0.3rem 1.5rem;
  margin-top: 0.3rem;
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid #d19130;
  border-radius: 6px;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.products-section .products .product .price-shop .shop-now {
  font-family: "Roboto-Medium";
  font-size: 1rem;
  color: #424b5a;
  border-left: 2px solid #d19130;
  padding: 4px 6px;
  margin-left: 6px;
}

.products-section .products .product .price-shop .product-price {
  color: #919191;
  font-family: "Roboto-Regular";
  font-size: 1rem;
  color: #424b5a;
  padding: 4px 6px;
}

.products-section .products .product .price-shop #time-3-icon {
  fill: #d19130;
}

.products-section .products .product .seller {
  font-weight: 300;
}

.products-section .products .product .seller em {
  font-style: italic;
  font-weight: 600;
}

.products-header {
  display: flex;
  justify-content: space-between;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  padding: 100px 0 120px;
}

.product-section .selected {
  border: 1px solid #979797;
}

.product-section-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.product-section-thumbnail {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  min-height: 66px;
  cursor: pointer;
}

.product-section-thumbnail:hover {
  border: 1px solid #979797;
}

.product-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  padding: 30px;
  text-align: center;
  max-height: 700px;
}

.product-section-image img {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.product-section-image img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.product-section-image img.active {
  opacity: 1;
}

.product-section-information p {
  margin-bottom: 16px;
}

.product-section-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #919191;
}

.product-section-price {
  font-size: 38px;
  color: #212121;
  margin-bottom: 16px;
}

.select-option-part h5 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.size input {
  width: 2.7rem;
  height: 2.4rem;
}

.size input.checked {
  background-color: black;
  color: whitesmoke;
}

#buy_wishlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-content: center;
}

#buy_wishlist #add_to_cart {
  width: 10rem;
  height: 2.8rem;
}

@media only screen and (max-width: 480px) {
  #buy_wishlist #add_to_cart {
    align-items: center;
    justify-content: center;
    margin-left: 3.8rem;
  }
}

#buy_wishlist #wish {
  margin-left: 2rem;
  width: 10rem;
  height: 2.8rem;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  #buy_wishlist #wish {
    margin-top: 1rem;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
  }
}

#buy_wishlist #wish i.fas.fa-heart::before {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

#wishing i.fas.fa-heart::before {
  font-size: 2rem;
}

.reviw-now {
  max-width: 24rem;
}

.cart-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 60px auto;
}

.cart-section h2 {
  margin-bottom: 30px;
}

.cart-section .cart-table-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
  display: flex;
  justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
  width: 50%;
}

.cart-section .cart-table-row .cart-table-row-right {
  width: 33%;
  padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
  max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
  text-align: right;
  font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
  padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
  color: #919191;
}

.cart-section .cart-table-row .cart-options {
  color: #212121;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.cart-section .cart-table-row .cart-options:hover {
  color: #6e6e6e;
}

.cart-section .have-code {
  display: block;
  margin: 14px 0;
}

.cart-section .have-code-container {
  border: 1px solid #919191;
  padding: 16px;
  width: 50%;
}

.cart-section .have-code-container form {
  display: flex;
  justify-content: space-between;
}

.cart-section .have-code-container input[type=text] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.cart-section .have-code-container input[type=submit] {
  background: white;
  border: 1px solid #919191;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart-section .have-code-container input[type=submit]:hover {
  background: #212121;
}

.cart-section .cart-totals {
  margin: 30px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
}

.cart-section .cart-totals .cart-totals-left {
  width: 50%;
}

.cart-section .cart-totals .cart-totals-right {
  display: flex;
  justify-content: space-between;
  width: 25%;
  text-align: right;
}

.cart-section .cart-totals .cart-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cart-section .cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-content {
  display: flex;
}

.product-content img {
  width: 5rem;
  height: 5rem;
}

.form {
  display: flex;
}

.form p.minus {
  height: 2.6rem;
  width: 2.4rem;
  color: #e4e4e4;
  background-color: #191919;
  border: 1px solid #e4e4e4;
  border-radius: 6px 0px 0px 6px;
  text-align: center;
  font-size: 3rem;
}

.form p.plus {
  height: 2.6rem;
  width: 2.4rem;
  color: #e4e4e4;
  background-color: #191919;
  border: 1px solid #e4e4e4;
  border-radius: 0px 6px 6px 0px;
}

.form input {
  height: 2.6rem;
  width: 2.4rem;
  background-color: #ffffff;
  border: 1px solid #191919;
  border-radius: 0px;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}

.checkout-section .checkout-table-container {
  margin-left: 124px;
}

.checkout-section h2 {
  margin-bottom: 28px;
}

.checkout-section .checkout-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.checkout-section .checkout-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
  width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
  color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
  padding-top: 6px;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
  border: 1px solid #919191;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-section .checkout-totals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}

.thank-you-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.thank-you-section h1 {
  margin-bottom: 10px;
}

.auth-pages {
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 100px;
  min-height: 60vh;
}

.auth-pages input {
  border: 1px solid #919191;
  padding: 16px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;
}

.auth-pages input[type=checkbox] {
  width: auto;
}

.auth-pages .login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-pages .auth-button {
  background: #212121;
  color: white;
  border-radius: 5px;
  padding: 12px 50px;
}

.auth-pages .auth-button:hover {
  background: #3b3b3b;
}

.auth-pages .auth-button-hollow {
  background: white;
  color: #212121;
  border-radius: 5px;
  border: 1px solid #212121;
  padding: 12px 50px;
}

.auth-pages .auth-button-hollow:hover {
  background: #212121;
  color: white;
}

.auth-pages .auth-right {
  border-left: 1px solid #cdcdcd;
  padding-left: 100px;
}

.auth-pages .already-have-container {
  text-align: right;
}

.my-profile label {
  display: block;
}

.my-profile .form-control {
  margin-bottom: 30px;
}

.my-profile input {
  border: 1px solid #919191;
  padding: 16px 10px;
  border-radius: 5px;
  width: 66.6%;
  font-size: 14px;
}

.my-profile .my-profile-button {
  background: #212121;
  color: white;
  border-radius: 5px;
  padding: 12px 50px;
}

.my-profile .my-profile-button:hover {
  background: #3b3b3b;
}

.my-orders .order-container {
  margin-bottom: 64px;
}

.my-orders .order-header {
  background: #f6f6f6;
  border: 1px solid #dddddd;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-orders .order-products {
  background: white;
  border: 1px solid #dddddd;
  border-top: none;
  padding: 14px;
}

.my-orders .order-header-items {
  display: flex;
}

.my-orders .order-header-items div {
  margin-right: 14px;
}

.my-orders .order-product-item {
  display: flex;
  margin: 32px 0;
}

.my-orders .order-product-item img {
  max-width: 140px;
  margin-right: 24px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px 30px;
  align-content: center;
  margin-top: 65px;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.products .product {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px #000000;
  transition: box-shadow 0.4s ease-in-out;
}

.products .product:hover {
  box-shadow: 5px 5px 5px 5px rgba(209, 145, 48, 0.4);
  border-radius: 6px;
}

.products .product .rating-comment {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.products .product .rating-comment .fa-rating {
  font-size: 0.6rem;
}

.products .product .rating-comment .comment-count {
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.products .product .rating-comment .new {
  font-family: "Roboto-Medium";
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #d19130;
  border: 2px solid #d19130;
  border-radius: 0.8rem;
  margin-left: 1rem;
  padding: 0.1rem;
  text-transform: capitalize;
  font-style: italic;
}

.products .product .product-name {
  font-family: "Roboto-Regular";
  font-size: 1.1rem;
  color: #191919;
  margin-top: 0.3rem;
}

.products .product img {
  height: 11.5rem;
  max-width: 11.5rem;
}

.products .product .product-details {
  width: 14.5rem;
  font-family: "Roboto-Regular";
  font-size: 0.9rem;
  margin-right: 1rem !important;
  color: #3b3b3b;
  text-align: center !important;
  line-height: 1.3rem;
}

.products .product .price-shop {
  display: flex;
  width: 12.5rem;
  margin: 0.3rem 0 0.3rem 1.5rem;
  margin-top: 0.3rem;
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid #d19130;
  border-radius: 6px;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.products .product .price-shop .shop-now {
  font-family: "Roboto-Medium";
  font-size: 1rem;
  color: #424b5a;
  border-left: 2px solid #d19130;
  padding: 4px 6px;
  margin-left: 6px;
}

.products .product .price-shop .product-price {
  color: #919191;
  font-family: "Roboto-Regular";
  font-size: 1rem;
  color: #424b5a;
  padding: 4px 6px;
}

.products .product .price-shop #time-3-icon {
  fill: #d19130;
}

.products .product .seller {
  font-weight: 300;
}

.products .product .seller em {
  font-style: italic;
  font-weight: 600;
}

