/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* Medium Devices, Desktops */

@media screen and (max-width: 992px) {
  div.with-background .top-nav {
    flex-direction: column;
  }

  div.with-background .top-nav .logo {
    margin: auto;
  }

  div.with-background .top-nav ul {
    margin: 20px auto 0;
    width: 80%;
  }

  div.with-background .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  div.with-background .hero .hero-image {
    padding-left: 0;
    margin-top: 40px;
  }

  .featured-section {
    padding: 50px 0;
  }

  .featured-section .products {
    grid-template-columns: 1fr;
  }

  .blog-section .blog-posts {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "blog3" "blog2" "blog1";
  }

  .blog-section .blog-posts .blog-post {
    margin-top: 30px;
  }

  .breadcrumbs {
    text-align: center;
  }

  .products-section {
    grid-template-columns: 1fr;
  }

  .products-section .sidebar {
    text-align: center;
  }

  .products-section .products {
    grid-template-columns: 1fr;
  }

  .product-section {
    grid-template-columns: 1fr;
  }

  .might-like-section .might-like-grid {
    grid-template-columns: 1fr;
  }

  .cart-section {
    grid-template-columns: 1fr;
  }

  .cart-section .cart-buttons {
    flex-direction: column;
    text-align: center;
  }

  .cart-section .cart-table-row .cart-table-row-left {
    width: 30%;
  }

  .cart-section .cart-table-row .cart-table-row-right {
    width: 55%;
  }

  .cart-section .cart-table-row img {
    display: none;
  }

  .cart-section .have-code-container {
    width: 100%;
  }

  .cart-section .cart-totals {
    flex-direction: column;
  }

  .cart-section .cart-totals .cart-totals-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-section .cart-totals .cart-totals-right {
    width: 100%;
  }

  .checkout-section {
    grid-template-columns: 1fr;
  }

  .checkout-section .checkout-table-container {
    margin-left: 10px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 780px) {
  div.top-header-container {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    margin: 50px;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: black;
  }

  nav.top-nav {
    position: relative;
  }

  nav.top-nav ul {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    clip-path: circle(10px at 20% -10%);
    -webkit-clip-path: circle(10px at 20% -10%);
    transition: all 1s ease-out;
  }

  .top-nav ul.open {
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(800px at 20% -10%);
  }

  div.with-background {
    height: auto;
  }

  .hero-copy {
    grid-template-columns: 1fr;
  }

  .hero-copy .hero-newsletter {
    display: none;
  }

  .hero-image {
    display: none;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .h2-span-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  footer .footer-content .h2-span-wrapper span {
    margin-left: 1.5rem;
    cursor: pointer;
    width: 10px;
    font-size: 22px;
  }

  footer .footer-content .h2-span-wrapper span:hover {
    transform: rotate(90deg);
  }

  footer .footer-content li {
    display: none;
  }

  footer .footer-social ul li {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  footer .footer-social ul li a {
    margin: 2px 10px;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    align-content: center;
    margin-top: 65px;
    padding: 20px;
  }
}

/* Custom, iPhone Retina */

