/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* Medium Devices, Desktops */

@media screen and (max-width: 992px) {
  div.with-background .top-nav {
    flex-direction: column;
  }

  div.with-background .top-nav .logo {
    margin: auto;
  }

  div.with-background .top-nav ul {
    margin: 20px auto 0;
    width: 80%;
  }

  div.with-background .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  div.with-background .hero .hero-image {
    padding-left: 0;
    margin-top: 40px;
  }

  .featured-section {
    padding: 50px 0;
  }

  .featured-section .products {
    grid-template-columns: 1fr;
  }

  .blog-section .blog-posts {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "blog3" "blog2" "blog1";
  }

  .blog-section .blog-posts .blog-post {
    margin-top: 30px;
  }

  .breadcrumbs {
    text-align: center;
  }

  .products-section {
    grid-template-columns: 1fr;
  }

  .products-section .sidebar {
    text-align: center;
  }

  .products-section .products {
    grid-template-columns: 1fr;
  }

  .product-section {
    grid-template-columns: 1fr;
  }

  .might-like-section .might-like-grid {
    grid-template-columns: 1fr;
  }

  .cart-section {
    grid-template-columns: 1fr;
  }

  .cart-section .cart-buttons {
    flex-direction: column;
    text-align: center;
  }

  .cart-section .cart-table-row .cart-table-row-left {
    width: 30%;
  }

  .cart-section .cart-table-row .cart-table-row-right {
    width: 55%;
  }

  .cart-section .cart-table-row img {
    display: none;
  }

  .cart-section .have-code-container {
    width: 100%;
  }

  .cart-section .cart-totals {
    flex-direction: column;
  }

  .cart-section .cart-totals .cart-totals-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-section .cart-totals .cart-totals-right {
    width: 100%;
  }

  .checkout-section {
    grid-template-columns: 1fr;
  }

  .checkout-section .checkout-table-container {
    margin-left: 10px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 780px) {
  div.top-header-container {
    position: absolute;
    margin-left: 6.5rem;
  }

  div.top-header-container .logo {
    position: relative;
    top: -7.2rem;
    left: auto;
  }

  div.top-header-container .other-container ul {
    display: none;
  }

  div.top-header-container .other-container .search {
    position: relative;
    top: -7.2rem;
    left: auto;
    margin-left: unset;
  }

  div.top-header-container .other-container .search .searchTerm {
    display: none;
  }

  div.top-header-container .other-container .search .searchTerm.open {
    display: flex;
    flex-shrink: initial;
    margin-left: 1rem;
    border: none;
    outline: auto;
    border-radius: 0.3rem;
  }

  div.top-header-container .other-container .search .searchButton {
    background: none;
    border: none;
    color: #191919;
    margin-left: 2rem;
  }

  div.top-header-container .other-container .search .searchButton.close {
    display: none;
  }

  .hamburger {
    position: relative;
    left: -19rem;
    margin: 1rem 0;
    font-size: 2em;
    font-weight: 800;
    z-index: 111;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
  }

  .hamburger:hover {
    transform: rotate(90deg);
    color: #ff9900;
  }

  nav.top-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin-left: -9rem;
    margin-top: 5rem;
  }

  nav.top-nav ul li {
    text-align: center;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    color: #191919;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.2em;
    transition: all 0.25s;
  }

  nav.top-nav ul li:hover {
    background-color: white;
    color: black;
    letter-spacing: 0.3em;
    font-size: 1.5em;
  }

  .user-wrapper ul.user-name-and-logout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    margin-left: 2rem;
  }

  .user-wrapper ul.user-name-and-logout a.dropdown-item {
    float: right;
    margin-top: -1.8rem;
    margin-right: -4rem;
  }

  #lgMenu {
    width: 25rem;
    height: 100%;
    top: 0;
    left: -25rem;
    overflow: hidden;
    background-color: #f8f1f1;
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    z-index: 11;
    opacity: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }

  #lgMenu.enter {
    opacity: 1;
    left: 0;
  }

  #exit {
    position: absolute;
    right: 10px;
    padding: 0px;
    top: -10px;
    font-size: 4em;
    color: #867d7d;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }

  #exit:hover {
    color: #ff9900;
  }

  div.with-background {
    height: auto;
    width: auto;
  }

  .hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-content: center;
  }

  .hero-container .hero-copy .hero-newsletter {
    display: none;
  }

  .hero-container .hero-image {
    display: none;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .logo-contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .footer-content .logo-contact-wrapper h1 {
    font-family: "Morganite";
    font-size: 40px;
    color: #d19130;
    background: none;
    border: none;
  }

  footer .footer-content .logo-contact-wrapper h2 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  footer .footer-content .logo-contact-wrapper li {
    font-size: 1.2rem;
  }

  footer .footer-content .h2-span-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  footer .footer-content .h2-span-wrapper span {
    margin-left: 1.5rem;
    cursor: pointer;
    width: 10px;
    font-size: 22px;
  }

  footer .footer-content .h2-span-wrapper span:hover {
    transform: rotate(-90deg);
  }

  footer .footer-content .brand-wrapper li {
    display: none;
  }

  footer .footer-content .footer-categories-wrapper li {
    display: none;
  }

  footer .footer-content .footer-categories-wrapper li.open {
    display: block;
  }

  footer .footer-content .footer-main li {
    display: none;
  }

  footer .footer-content .footer-help li {
    display: none;
  }

  footer .footer-social ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  footer .footer-social ul li a {
    margin: 0.3rem 0.7rem 0.3rem 0;
  }

  footer .footer-newsletter {
    display: none;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  #wishing {
    margin-left: 6rem;
    width: 4rem;
  }

  #wishing i.fas.fa-heart::before {
    font-size: 2rem;
  }

  .hamburger {
    position: relative;
    left: -10rem;
    margin: 1rem 0;
  }

  nav.top-nav ul {
    align-items: flex-start;
    justify-content: end;
    margin-left: 1rem;
    margin-top: 15rem;
    justify-content: center;
    text-align: left;
  }

  .user-wrapper ul.user-name-and-logout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 4rem 0 0 2rem;
  }

  .user-wrapper ul.user-name-and-logout a.dropdown-item {
    float: unset;
  }

  #lgMenu {
    width: 16rem;
  }

  #exit {
    right: 1rem;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    align-content: center;
    margin-top: 65px;
    padding: 20px;
  }
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 780px) {
  .hamburger {
    display: none;
  }

  #exit {
    display: none;
  }
}

