header {
    background: $white;

    .top-header-container {
        display: flex;
        // display: grid;
        // grid-template-columns: 0.5fr 1fr;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        @media only screen and (max-width: 780px) {
        }

        .logo {
            margin-right: 2.5rem;
            // width: 129px;
            font-family: "Roboto";
            font-size: 50px;
            color: rgba(134, 147, 158, 1);
            line-height: 0px;

            @media only screen and (max-width: 992px) {
                font-size: 35px;
            }
        }

        .other-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @media screen and (max-width: 992px) {
                // flex-direction: row;
                justify-content: end;
            }

            .search {
                height: 39px;
                width: 575px;

                display: flex;
                align-items: center;

                @media screen and (max-width: 992px) {
                    width: fit-content;
                    margin-left: auto;
                }
            }

            .searchTerm {
                width: 100%;
                background-color: rgba(255, 255, 255, 0);
                border: 2px solid rgba(25, 25, 25, 1);
                border-radius: 6px 0 0 6px;
                border-right: none;
                padding: 5px;
                height: 36px;

                outline: none;
            }

            .searchTerm:focus {
                color: rgba(209, 145, 48, 1);
            }

            .searchButton {
                width: 2.5rem;
                height: 36px;
                border: 1px solid rgba(25, 25, 25, 1);
                background: rgba(25, 25, 25, 1);
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
            }
            ul {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-around;

                .login {
                    width: 90px !important;
                    margin-left: 1rem;
                    color: rgba(110, 111, 114, 1);
                    align-items: center;
                    justify-content: center;
                    // letter-spacing: -0.07em;
                    // line-height: 22px;
                    background-color: rgba(255, 255, 255, 1);
                    border: 2px solid rgba(209, 145, 48, 1);
                    border-radius: 6px;

                    &:hover {
                        color: darken($white, 10%);
                        background-color: rgba(209, 145, 48, 1);
                    }
                }

                #account {
                    margin: 0 1rem !important;
                }

                li.user {
                    margin-left: 1rem;
                }

                li.cart {
                    margin-left: 1rem;

                    a.logout-now {
                        margin: 0 1rem;
                        // height: 22px;
                        // width: 120px;
                        // padding: 5px;

                        // font-size: 15px;
                        // color: rgba(110, 111, 114, 1);
                        // text-align: center;
                        // // letter-spacing: -0.07em;
                        // // line-height: 22px;
                        // background-color: rgba(255, 255, 255, 1);
                        // border: 2px solid rgba(209, 145, 48, 1);
                        // border-radius: 6px;

                        // .login {
                        //     width: 90px !important;
                        // }
                    }

                    .cart-count {
                        display: inline-block;
                        // position: absolute;
                        // right: 0;
                        // top: -22px;
                        // right: -24px;
                        background-color: rgba(209, 145, 48, 1);
                        border-radius: 6px;
                        color: $text-color;
                        line-height: 0;
                        margin-bottom: 1rem;

                        font-size: 14px;

                        span {
                            display: inline-block;
                            padding-top: 50%;
                            padding-bottom: 50%;
                            margin-left: 6px;
                            margin-right: 6px;
                        }
                    }
                }
            }

            /*Resize the wrap to see the search bar change!*/
        }
    }

    .user-wrapper {
        @media only screen and (min-width: 780px) {
            display: none;
        }
    }

    .top-nav {
        display: flex;
        justify-content: center;
        font-family: "Roboto-Medium";

        letter-spacing: 1.5px;

        ul {
            display: flex;
            text-transform: uppercase;
            justify-content: space-around;
            height: 24px;

            font-family: "Roboto-medium", sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: rgba(25, 25, 25, 1);
            line-height: 35px;
            margin-top: 34px;
            margin-bottom: 6px;

            li {
                margin: 0 1rem;
            }

            a {
                color: $nav-text-color;

                &:hover {
                    color: darken($white, 10%);
                }
            }

            span {
                display: inline-block;
                padding-top: 50%;
                padding-bottom: 50%;
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }
}
